workflow.json
{"name":"Business Data Agent","nodes":[{"parameters":{},"id":"workflow-trigger","name":"When Called By Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,460]},{"parameters":{"options":{"frequencyPenalty":0.1,"maxTokens":2000,"presencePenalty":0.1,"temperature":0.7,"topP":0.9}},"id":"openai-model","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[200,360]},{"parameters":{"tools":[{"name":"searchWooProducts","description":"Search WooCommerce products","operation":{"type":"woocommerce","resource":"product","operation":"list","parameters":{"search":"={{$parameter.query}}"}}},{"name":"getProductDetails","description":"Get product details","operation":{"type":"httpRequest","url":"https://thetechguysdoorsandgates.com/wp-json/wc/v3/products/{{$parameter.id}}","method":"GET"}},{"name":"getTechnicalSpecs","description":"Get technical specs","operation":{"type":"mysql","query":"SELECT * FROM product_specs WHERE product_id={{$parameter.productId}}"}}],"promptType":"define","text":"={{$json.TEXT}}","options":{"systemMessage":"You are a Technical Product Assistant."}},"id":"business-ai","name":"Business Data AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[400,460]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"={{$json.agentResponse}}"}]}},"id":"prepare-response","name":"Prepare Response","type":"n8n-nodes-base.set","typeVersion":1,"position":[600,460]}],"connections":{"When Called By Another Workflow":{"main":[[{"node":"Business Data AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Business Data AI Agent","type":"ai_languageModel","index":0}]]},"Business Data AI Agent":{"main":[[{"node":"Prepare Response","type":"main","index":0}]]}}}